body{

text-align:center;
font-family:sans-serif;
background-color:#ffeef3;

}

h1{

margin-top:50px;

}

.menu button{

display:block;
margin:20px auto;

padding:15px;

width:200px;

font-size:18px;

border-radius:10px;

border:none;

}