body{

text-align:center;
font-family:sans-serif;
background-color:#ffeef3;

}

h1{

margin-top:50px;

}

.menu button{

display:block;
margin:20px auto;

padding:15px;

width:200px;

font-size:18px;

border-radius:10px;

border:none;

}

.modal {

  position: fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;

  background:rgba(0,0,0,0.5);

  display:flex;
  justify-content:center;
  align-items:center;
}

.hidden {
  display:none;
}

.modal-content {

  background:white;
  padding:20px;
  border-radius:10px;

  width:300px;
}

textarea {

  width:100%;
  height:100px;

  margin-bottom:10px;
}

.emoji {

  font-size:20px;
  margin:5px;
  cursor:pointer;
}

button:disabled{

opacity:0.5;

cursor:not-allowed;

}

#imagePreview{

margin-top:10px;

}

#imagePreview img{

box-shadow:
0 3px 10px rgba(0,0,0,0.2);

}

.selectedEmoji{

border:
3px solid pink;

transform:scale(1.1);

}